<p id="notice"><%= notice %></p>
<div class="container">
  <h1>Pet Histories</h1>

  <table class="table">
    <thead>
      <tr>
        <th>Weight</th>
        <th>Height</th>
        <th>Description</th>
        <th>Pet</th>
        <th colspan="3"></th>
      </tr>
    </thead>

    <tbody>
      <% @pet_histories.each do |pet_history| %>
        <tr>
          <td><%= pet_history.weight %></td>
          <td><%= pet_history.height %></td>
          <td><%= pet_history.description %></td>
          <td><%= pet_history.pet_name %></td>
          <td><%= link_to 'Show', pet_history %></td>
          <td><%= link_to 'Edit', edit_pet_history_path(pet_history) %></td>
          <td><%= link_to 'Destroy', pet_history, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <br>

  <%= link_to 'New Pet History', new_pet_history_path %>
  <%= link_to 'Main', clients_path %>
</div>

