<p id="notice"><%= notice %></p>

<div class="container">
  <h1>Clients</h1>
</div>

<div class="container">
  <table class="table">
    <thead>
      <tr>
        <th>Name</th>
        <th>Phone number</th>
        <th>Email</th>
        <th>Registered Pets</th>
        <th colspan="3"></th>
      </tr>
    </thead>
  
    <tbody>
      <% @clients.each do |client| %>
        <tr>
          <td><%= client.name %></td>
          <td><%= client.phone_number %></td>
          <td><%= client.email %></td>
          <td><%= client.pets_count %></td>
          <td><%= link_to 'Show', client %></td>
          <td><%= link_to 'Edit', edit_client_path(client) %></td>
          <td><%= link_to 'Destroy', client, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>

<br>

<div class="container">
  <%= link_to 'New Client', new_client_path %>
  <%= link_to 'new Pet History', pet_histories_path %>
<%= link_to 'New Pet', pets_path %>

</div>

